.page-header {
    padding: 100px 0 40px;
    text-align: center;
    background: var(--dark-gray);
}

.page-title {
    font-family: var(--font-display);
    font-size: clamp(4rem, 3vw, 3rem);
    letter-spacing: 3px;
    margin-bottom: 0.7rem;
}

.page-subtitle {
    font-size: 1.25rem;
    color: var(--light-gray);
}